.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.about-us__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-us__header-title {
  font-size: 3.5rem;
  color: $brand-secondary;
  font-style: italic;
  margin-bottom: 0;
}

.about-us__header-hr  {
  width: 35%;
  height: 4px;
  background: $brand-secondary;
  margin: 1rem 0;
}

.about-us__header-img {
  width: 70%;
  height: auto;
}

.about-us__body {
  width: 70%;
  font-size: 1.5rem;
  color: $brand-secondary;
  padding-bottom: 3rem;
}
