.main {
  position: relative;
  background: $brand-primary;
  font-family: "Playfair Display";
  width: 100%;
  margin: 0;
}

.fa {
  color: $brand-secondary;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
