.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background: $brand-secondary;
  border-top: 10px solid $brand-primary;
}

.main-contact__title {
  font-size: 3.5rem;
  margin: 0;
  font-style: italic;
  color: $brand-primary;
}

.contact-hr {
  width: 35%;
  background: $brand-primary;
  height: 4px;
}

.contact-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-address__p {
  margin: 0;
  padding: 0.2rem;
}


.main-subscribe {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title  {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 0;

}



.subscribe-form, .contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.subscribe-input, .contact-input {
  background: $brand-secondary;
  border: 4px solid $brand-primary;
  padding: 10px;
  font-size: 1.5rem;
  margin: 5px;
  font-family: "Playfair Display";
}

.subscribe-submit, .contact-submit {
  background: $brand-primary;
  color: $brand-secondary;
  font-size: 1.5rem;
  margin: 5px;
  padding: 10px;
  border: none;
  font-family: "Playfair Display";
}

.main-contact {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-social {
  color: $brand-primary;
}

.main-social__alt-i {
  color: $brand-primary;
  padding: 0.5rem;
  margin-top: 1rem;
}
