.main-header {
  display: flex;
  height: 800px;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 3rem;
  background: url('../sleepbw.png') no-repeat center fixed;
  background-size: cover;
}

.header {
  width: 100%;
  height: 230px;
  background: $brand-primary-light;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header-title {
  font-size: 10rem;
  line-height: 8rem;
  color: $brand-secondary;
  margin: 0.5rem 3rem;
  padding: 1rem;
}

.header-subtitle {
  font-style: italic;
  color: $brand-secondary;
  margin: 0;
  text-decoration: overline;
}

.main-header__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}


.main-info {
  width: 60%;
  margin: auto;
  padding-bottom: 3rem;
  display: flex;
  background: $brand-primary;
  flex-direction: column;
  align-items: left;
  text-align: left;
  color: $brand-secondary;
}

.main-info__title {
  font-size: 6rem;
  margin: 1rem;
  font-style: italic;
}

.main-info__graph {
  width: 80%;
}

.main-info__hr {
  display: flex;
  height: 5px;
  width: 100%;
  background: $brand-secondary;
}
