.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $brand-primary;
  background: $brand-secondary;
  padding: 10px 0;
}

.nav-list  {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-left: 25px;
  max-width: 980px;
}

.nav-item {
  margin: 0 5px;
}
