$brand-primary: #193340;
$brand-secondary: #e6ded1;
$brand-black: #193340;
$brand-white: #eee;


@import 'top-nav';
@import 'header';
@import 'body';
@import 'contact';
@import 'footer';
@import 'main-blog';



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// BASE STYLES

body {
	margin: 0;
  width: 100%;
}

img {
  width: 400px;
  height: 400px;
}
