<div class="contact">
  <div class="main-subscribe">
    <h4 class="subscribe-title">Subscribe</h4>
    <form class="subscribe-form" action="">
      <input class="subscribe-input" type="email" name="email" placeholder="Email">
      <button class="subscribe-submit">Go Head</button>
    </form>
  </div>

  <div class="main-contact">
    <h4 class="main-contact__title">Contact</h4>
    <form action="" class="contact-form">
      <input type="text" class="contact-input" name="Name" placeholder="Name">
      <input type="text" class="contact-input" name="Email" placeholder="Email">
      <input type="text" class="contact-input" name="Phone" placeholder="Phone">
      <textarea name="description" id="" cols="30" rows="5" class="contact-input contact-text" placeholder="What's Up?"></textarea>
      <button class="contact-submit">Go Head</button>
    </form>
  </div>
</div>
