<div class="main">

  {{!--MAIN NAV  --}}
  <div class="main-nav">
    <ul class="nav-list">
      <li class="nav-item">Home</li>
      <li class="nav-item">About</li>
      <li class="nav-item">Contact</li>
    </ul>
  </div>

  {{!--MAIN TITLE  --}}

  <div class="main-header">
    <div class="header-group">
      <img src="tt.png" alt="Teal Tung" class="header-logo">
      <h1 class="header-title">TEAL TUNG</h1>
    </div>
      <img src="jagsbw.png" alt="" class="main-header__img">
  </div>

  {{!--MAIN INTRO  --}}

  <div class="main-info">
    <h2 class="main-info__title">Hi.</h2>
    <p class="main-info__graph">
      Teal Tung is what's on my mind right now. Sports, Politics, and daily observations. Click subscribe at the bottom for more.
    </p>
  </div>

  {{!--MAIN BLOG  --}}

  <div class="main-blog">
    <div class="blog-post">
      <div class="blog-post__header">
        <h3 class="blog-post__title">This is A Cool Title</h3>
        <p class="blog-post__dateline">November 20, 2016</p>
      </div>
      <div class="blog-post__preview">
        <img src="sleepbw.png" alt="Teal Tung" class="post__preview-img">
        <p class="post__preview-graph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <button class="blog-post__button">Read More</button>
    </div>
    <div class="blog-post">
      <div class="blog-post__header">
        <h3 class="blog-post__title">This is A Sanrky Title</h3>
        <p class="blog-post__dateline">November 20, 2016</p>
      </div>
      <div class="blog-post__preview">
        <img src="sleepbw.png" alt="Teal Tung" class="post__preview-img">
        <p class="post__preview-graph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <button class="blog-post__button">Read More</button>
    </div>
    <div class="blog-post">
      <div class="blog-post__header">
        <h3 class="blog-post__title">This is A Sanrky Title</h3>
        <p class="blog-post__dateline">November 20, 2016</p>
      </div>
      <div class="blog-post__preview">
        <img src="sleepbw.png" alt="Teal Tung" class="post__preview-img">
        <p class="post__preview-graph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <button class="blog-post__button">Read More</button>
    </div>

  </div>

  {{!--MAIN CONTACT  --}}
<div class="contact">
  <div class="main-subscribe">
    <h4 class="subscribe-title">Subscribe</h4>
    <form class="subscribe-form" action="">
      <input class="subscribe-input" type="email" name="email" placeholder="Email">
      <button class="subscribe-submit">Go Head</button>
    </form>
  </div>

  <div class="main-contact">
    <h4 class="main-contact__title">Contact</h4>
    <form action="" class="contact-form">
      <input type="text" class="contact-input" name="Name" placeholder="Name">
      <input type="text" class="contact-input" name="Email" placeholder="Email">
      <input type="text" class="contact-input" name="Phone" placeholder="Phone">
      <textarea name="description" id="" cols="30" rows="5" class="contact-input contact-text" placeholder="What's Up?"></textarea>
      <button class="contact-submit">Go Head</button>
    </form>
  </div>
</div>
  {{!--MAIN FOOTER  --}}

  <div class="main-footer">
    <div class="legal">
      Copyright (c) 2016 Copyright Teal Tung All Rights Reserved.
    </div>
  </div>
</div>
