<div class="main-social">
  <p>#</p>
  <i class="fa fa-facebook main-social-i"></i>
  <i class="fa fa-twitter main-social-i"></i>
  <i class="fa fa-instagram main-social-i"></i>
  <i class="fa fa-snapchat main-social-i"></i>
</div>
